@import "tailwindcss";
:root {
  --primary: #05668D;
  --primary-hover: #F77F00;
  --bg-light: #f2e9e4;
  --bg-dark: #000814;
  --text-light-primary: #1F2937;
  --text-light-secondary: #4B5563;
  --text-dark-primary: #FFFFFF;
  --text-dark-secondary: #D1D5DB;
  --border-light: #E5E7EB;
  --border-dark: #374151;
  --input-light: #FFFFFF;
  --input-dark: #1F2937;
}
.dark {
  --bg-light: #000814;
  --bg-dark: #f2e9e4;
}
